CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

/*build*
/dependencies*
/ICONS/icons.aps
/ImportExecutables.cmake
/release
/arch.c
/config.h
/data/rdatawad
/prboom-plus
/prboom-plus-game-server
/prboom-plus.wad
