ColumnLimit: 100
MaxEmptyLinesToKeep: 2
BreakBeforeBraces: Allman
InsertNewlineAtEOF: true

UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 2

IndentCaseLabels: false
AlignConsecutiveMacros: Consecutive
AlignAfterOpenBracket: DontAlign
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: Leave
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: BinPack
BreakBeforeBinaryOperators: true
IndentGotoLabels: false
RemoveBracesLLVM: true
RemoveSemicolon: true
SkipMacroDefinitionBody: true
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
